<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="main.com.gstsolution">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
        <activity android:name=".UserHome" />
        <activity android:name=".Registration" />
        <activity android:name=".GSTcalculator" />
        <activity android:name=".GSTArticles" />
        <activity android:name=".Favourites" />
        <activity android:name=".DiscussionForum" />

        <service android:name=".firebase.FirebaseIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <service
            android:name=".firebase.MyFirebaseMessagingService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".firebase.DeleteTokenService" />

        <activity android:name=".KnowledgeSolution" />
        <activity android:name=".GSTNews" />
        <activity android:name=".ViewBookmark" />
        <activity android:name=".ImportantLinks" />
        <activity android:name=".HelpServices" />
        <activity android:name=".GSTacts" />
        <activity android:name=".VoiceSearch" />
        <activity android:name=".ViewSearch" />
        <activity android:name=".MaterialDetail" />
        <activity android:name=".ForgotPassword" />
        <activity android:name=".RecommendMaterial" />

        <service
            android:name=".DownloadService"
            android:enabled="true"
            android:exported="true" />

        <activity android:name=".Feedback" />
        <activity android:name=".Aboutus" />
        <activity android:name=".Services" />
        <activity android:name=".hsncode" />
        <activity android:name=".sgst" />
    </application>

</manifest>